<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de contas</title>
</head>
<body>
<h1>Contas</h1>
<div th:switch="${contas}">
    <div th:if="${contas == null or contas.isEmpty()}">
        <h2>Ainda não há ninguém cadastrado!</h2>
    </div>
    <div th:unless="${contas == null or contas.isEmpty()}">
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="conta : ${contas}">
                <td th:text=" ${conta.nome} "></td>
                <td th:text=" ${conta.email} "></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form th:action="@{/nova-conta}">
        <button type="submit">Adicionar uma nova conta</button>
    </form>
</div>
</body>
</html>